<form action="/users" method="post">
  <label>username</label>
  <input type="text" name="user[username]">
  <br>
  <label>email</label>
  <input type="email" name="user[email]">
  <br>
  <label>password</label>
  <input type="password" name="user[password]">
  <br>
  <input type="submit" value="sign up">
</form>

